@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .on-surface-text {
    color: #f4f4f4;
  }
  .on-surface-text-inverse {
    color: #131416;
  }
  .border-color {
    border-color: #424951;
  }
  .bg-border {
    background-color: #424951;
  }
  .secondary-text {
    color: #9ba5b5;
  }
  .bg-white {
    background-color: #f4f4f4;
  }
  .surface {
    background-color: #131416;
  }
  .surface-container {
    background-color: #1a1d20;
  }
  .surface-container-high {
    background-color: #262a2f;
  }
  .surface-container-highest {
    background-color: #32383f;
  }
}
